[client]
user_id=miguel_andres
job_id=morf_prule_test
email_to=miglimjapandres@gmail.com
docker_url=s3://morf-prule-public/mwe-prule.tar
controller_url=https://raw.githubusercontent.com/educational-technology-collective/morf/master/mwe-prule/controller.py
prule_url=https://raw.githubusercontent.com/educational-technology-collective/morf/master/mwe-prule/morf-prule-sample.txt
