[client]
user_id=miggyab
job_id=morf-prule-downloads
email_to=miggyandresbray@gmail.com
docker_url=file:///home/ubuntu/git/morf-prule/new-rules/new_rules_vids-watched.tar
controller_url=file:///home/ubuntu/git/morf/mwe-prule/controller.py
prule_url=file:///home/ubuntu/git/morf/mwe-prule/morf-prule-sample.txt
